Target/debug/*.exe filter=lfs diff=lfs merge=lfs -text

Target/debug/bundle/msi/*.msi filter=lfs diff=lfs merge=lfs -text
Target/debug/bundle/nsis/*.exe filter=lfs diff=lfs merge=lfs -text

Target/release/*.exe filter=lfs diff=lfs merge=lfs -text

Target/release/bundle/msi/*.msi filter=lfs diff=lfs merge=lfs -text
Target/release/bundle/nsis/*.exe filter=lfs diff=lfs merge=lfs -text

Target/debug/Mountain filter=lfs diff=lfs merge=lfs -text
Target/release/Mountain filter=lfs diff=lfs merge=lfs -text

Target/debug/bundle/dmg/*.dmg filter=lfs diff=lfs merge=lfs -text
Target/release/bundle/dmg/*.dmg filter=lfs diff=lfs merge=lfs -text

Target/debug/bundle/macos/*.dmg filter=lfs diff=lfs merge=lfs -text
Target/release/bundle/macos/*.dmg filter=lfs diff=lfs merge=lfs -text

Target/debug/bundle/macos/*.app/Contents/MacOS/* filter=lfs diff=lfs merge=lfs -text
Target/release/bundle/macos/*.app/Contents/MacOS/* filter=lfs diff=lfs merge=lfs -text
